/***** OVERALL *****/

/* Style for navigator bar */
.navigator {
  background-color: #333;
  padding: 1rem;
  display: flex;             
  justify-content: center;   
  gap: 2rem;                
}

.navigator a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navigator a:hover {
  text-decoration: underline;
}



/* Style for footer */
.footer {
  background-color: #222;    
  color: white;
  text-align: center;      
  padding: 1rem;
  position: fixed;           
  bottom: 0;
  width: 100%;
}


h1{
}

h2{
}

h3{
}

/***** INDEX PAGE *****/

/* Style for main content */
.content{
}

/* Style for home image */
.homeImage{
}

/***** ABOUT US SECTION - GENERAL FOR CONSISTENCY *****/

/* Style for our names */
.name{
}

/* Style for our descritions of ourselves */
.descriptions{
}

/* Style for our descritions of ourselves */
.descriptions{
}

/***** TECH HEROS *****/

/***** RESOURCES *****/

/* Style for Big Title */
.resourcesTitle{
}

/* Implicit Bias Defintion */
.biasDefinition{
}

/* Style for the definitions - keeping it general for both */
.ourDefinition{
}

/* Style for our thoughts - keeping it general for both */
.thoughtDef{
}


